@tailwind base;
@tailwind components;
@tailwind utilities;


@responsive {
	.bg-w600 {
		background-size: 600px!important;
		margin-top: -90px;
		min-height: 600px;
	}
	.hero-container{
		@apply w-full;
		min-height: 600px;
	}
	.content-responsive{
		min-height: 600px;
	}
	.features-p{
	padding: 60px 0;
	}
	.iframe-responsive{
		@apply relative flex float-right mt-24 shadow-xl mr-8;
		width: 350px;
		height: 450px;
	}
}

.cover-anzu{
	max-height: 722px;
	padding: 30px 0px;
	background-image: url('./images/cover.svg'), radial-gradient(circle farthest-corner at 79% 80%, #7a9bff, #3d5afe 68%);
}

.container-navbar{
	@apply mx-auto w-4/5;
	height: 62px;
}

.navbar-left{
	height: 62px;
}

.navbar-right{
	height: 62px;
}

.anzu-logo{
	@apply relative flex float-left py-5;
	height: 62px;
	width:81px;
}

.item-menu {
	@apply text-white text-left inline-block p-5 font-sans font-normal text-sm
}

.item-text {
	@apply flex text-white text-center px-3 pt-3 pb-2 font-sans font-normal text-xs bg-blue-700;
}

.btn-primary{
	@apply  p-2 bg-indigo-700 text-sm font-sans font-semibold text-white rounded-lg;
}

.btn-primary:hover {
	@apply  bg-indigo-900;
}

.atom-container{
	@apply relative justify-center my-auto mx-auto;
}

.hero-content{
	width: 100%;
	min-height: 350px;
}

.content{
	@apply flex flex-col w-full content-center items-center justify-center my-auto mx-auto;
	min-height: 350px;
}

.atom-anzu{
	width: 200px;
	height:53.5px;
}

.hero-copy{
	@apply mx-auto flex flex-col items-center;
}

.text-hero{
	@apply font-bold font-semibold text-white font-sans mt-5 mb-2 mx-auto text-center;
	font-size: 26px;
}

.paragraph{
	@apply text-xl text-gray-300 font-sans mx-auto text-center font-sans font-normal;
	line-height: 28px;
}

.btn-land{
	margin-top:10px;
}
.description{
	@apply flex;
}

.iframe{
	@apply flex mx-auto self-center mt-8 mb-5 justify-center shadow-xl;
	width: 290px;
	height: 400px;
}

.power-tool{
	@apply w-full self-center;
}
.column-left{
	@apply object-left;
	height: 282px;
	width: 50%;
	padding: 0 30px;
	margin-top: 175px;
}
.heading-5{
	margin: 10px 0;
	font-size: 1.75rem;
	@apply leading-tight font-semibold text-indigo-900;
}
.paragraph3{
	@apply flex-col text-indigo-900 text-lg font-light leading-normal text-left;
	margin-top: 10px;
}
.features{
	@apply flex-col;
	min-height: 500px;
}
.features-info1, .features-info2, .features-info3{
	@apply justify-center;
	padding: 0px 30px;
}
.heading-6{
	@apply text-2xl text-indigo-900 font-semibold mt-5;
	margin-bottom: 10px;
}
.paragraph4{
	@apply text-indigo-900 text-lg font-light leading-tight text-left;
	margin-bottom: 10px;
}
.footer{
	@apply bg-blue-900;
	min-height: 400px;
	padding-top: 50px;
}
.footer-container{
	@apply flex-col relative justify-center my-auto mx-auto w-4/5;
	min-height: 400px;
}
.tryanzu{
	@apply w-full;
	min-height: 266px;
	padding: 40px 0;
}
.foot-tryanzu{
	@apply w-full;
	min-height: 33.3333%;
}
.heading-7{
	@apply  flex text-white font-thin text-center mx-auto justify-center;
	margin-bottom: 30px;
}
.columns{
	@apply inline-flex w-full;
	height: 66px;
}
.col-l,.col-r{
	@apply flex w-1/2 justify-center;
}
.logos{
	@apply mx-auto;
	width: 40px;
	height: 40px;
}
.bor{
	@apply border-b border-solid border-gray-600;
}
.dropdown {
	@apply relative;
}

.dropdown-content {
	@apply bg-white z-50 absolute w-64 rounded-sm shadow hidden;
	top: 100%;
	right: 0;
}

.dropbtn:focus{
	@apply outline-none;
}

.dropdown-content a.item-menu {
	@apply flex text-black;
}

.dropdown-content .btn-primary {
	@apply w-5/6 block text-center mb-2 mx-auto;
}


.dropdown .dropbtn:focus + .dropdown-content , .dropdown .dropdown-content:hover{
	@apply block;
}

.form-question {
	@apply text-white text-center inline-block font-sans font-normal text-sm p-2;;
}

.input-email {
	@apply bg-gray-300 font-sans text-indigo-900 text-indigo-800 block float-left align-middle text-sm font-normal h-8 py-0 px-3 w-48 rounded-l-full shadow-md outline-none;
}

.input-email-responsive {
	@apply flex bg-gray-300 font-sans text-indigo-900 float-left text-sm font-normal h-8 py-0 px-3 w-48 rounded-l-lg shadow-md outline-none;
}

.form-responsive{
	@apply flex justify-center bg-blue-700 pb-2 px-2 border-0;
}

.submit-btn {
	@apply bg-indigo-700 flex justify-center font-sans text-sm font-normal h-8 leading-loose relative w-20 text-white rounded-r-full shadow-md outline-none;
}

.submit-btn-responsive {
	@apply bg-indigo-700  block font-sans text-sm font-normal h-8 leading-loose relative w-20 text-white rounded-r-lg shadow-md outline-none;
}
